.root[data-variant='primary'] {
  background-color: var(--button-primary);
}
.root[data-variant='primary']:hover {
  background-color: var(--button-primary-hover);
}
.root[data-variant='primary'][data-disabled] {
  background-color: var(--enmight-gray-3);
  color: var(--text-onColor);
}
.root[data-variant='primary-outlined'] {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--button-primary);
  color: var(--button-primary);
}
.root[data-variant='primary-outlined']:hover {
  background-color: var(--button-tableButton);
  color: var(--button-primary-hover);
}
.root[data-variant='primary-outlined'][data-disabled],
.root[data-variant='primary-outlined'][data-disabled]:hover {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--enmight-gray-3);
  color: var(--enmight-gray-3);
}

.root[data-variant='secondary'] {
  background-color: var(--button-secondary);
}
.root[data-variant='secondary']:hover {
  background-color: var(--button-secondary-hover);
}
.root[data-variant='secondary'][data-disabled] {
  background-color: var(--enmight-gray-3);
  color: var(--text-onColor);
}
.root[data-variant='secondary-outlined'] {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--button-secondary);
  color: var(--text-secondary);
}
.root[data-variant='secondary-outlined']:hover {
  background-color: var(--button-tableButton);
  color: var(--button-secondary-hover);
}
.root[data-variant='secondary-outlined'][data-disabled],
.root[data-variant='secondary-outlined'][data-disabled]:hover {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--enmight-gray-3);
  color: var(--enmight-gray-3);
}

.root[data-variant='tertiary'] {
  background-color: var(--button-tertiary);
  border: 1px solid var(--border-subtle-2);
  color: var(--text-primary);
}
.root[data-variant='tertiary']:hover {
  background-color: color-mix(in srgb, var(--button-tertiary-hover), transparent 80%);
  color: var(--text-primary);
}
.root[data-variant='tertiary'][data-disabled],
.root[data-variant='tertiary'][data-disabled]:hover {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--enmight-gray-3);
  color: var(--enmight-gray-3);
}

.root[data-variant='alert'] {
  background-color: var(--enmight-red-5);
}
.root[data-variant='alert']:hover {
  background-color: var(--enmight-red-6);
}
.root[data-variant='alert'][data-disabled] {
  background-color: var(--enmight-gray-3);
  color: var(--text-onColor);
}
.root[data-variant='alert-outlined'] {
  background-color: var(--background-white-level-1);
  border: 1px solid var(--enmight-red-5);
  color: var(--enmight-red-5);
}
.root[data-variant='alert-outlined']:hover {
  background-color: var(--enmight-gray-0);
  color: var(--enmight-red-5);
}
.root[data-variant='alert-outlined'][data-disabled],
.root[data-variant='alert-outlined'][data-disabled]:hover {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--enmight-gray-3);
  color: var(--enmight-gray-3);
}

.root[data-variant='yellow'] {
  background-color: var(--point-yellow-4);
}
.root[data-variant='yellow']:hover {
  background-color: var(--point-yellow-5);
}
.root[data-variant='yellow'][data-disabled] {
  background-color: var(--enmight-gray-3);
  color: var(--text-onColor);
}
.root[data-variant='yellow-outlined'] {
  background-color: var(--background-white-level-1);
  border: 1px solid var(--point-yellow-4);
  color: var(--point-yellow-5);
}
.root[data-variant='yellow-outlined']:hover {
  background-color: var(--enmight-gray-0);
  color: var(--point-yellow-5);
}
.root[data-variant='yellow-outlined'][data-disabled],
.root[data-variant='yellow-outlined'][data-disabled]:hover {
  background-color: var(--background-white-level-0);
  border: 1px solid var(--enmight-gray-3);
  color: var(--enmight-gray-3);
}

.root[data-variant='subtle'] {
  background-color: rgba(0, 0, 0, 0);
  color: var(--text-secondary);
}
.root[data-variant='subtle']:hover {
  background-color: var(--field-hover);
}
.root[data-variant='subtle'][data-disabled],
.root[data-variant='subtle'][data-disabled]:hover {
  background-color: var(--background-white-level-0);
  color: var(--text-disabled);
}

.root[data-disabled],
.root[data-disabled]:hover {
  background-color: var(--enmight-gray-3);
  color: #fff;
  border: 0;
}
